@model eDrvenija.eDrvenija.Models.tipovikorisnika

@{
    ViewBag.Title = "Details";
}

<h2>@Resursi.Detalji</h2>

<fieldset>
    <legend>@Resursi.TipoviKorisnika</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nazivTipaKorisnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nazivTipaKorisnika)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@Resursi.Uredi, "Edit", new { id=Model.idTipaKorisnika }) |
    @Html.ActionLink(@Resursi.NazadNaPocetnu, "Index")
</p>
