@model IEnumerable<eDrvenija.eDrvenija.Models.tipovikorisnika>

@{
    ViewBag.Title = Resursi.Index;
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@helper selected(string c, string cul) 
{ 
    if (c == cul)
    {
       @:checked = "checked";
    }
} 

<h2>@Resursi.Index</h2>

@using (Html.BeginForm("SetCulture", "TipoviKorisnika"))
{
    <legend>@Resursi.IzaberiteJezik</legend>
   
    <form>
        <div class="btn-group">
            <button name="culture" value="bs-Latn-BA" type="submit" id="b1" class="btn btn-default" @selected("bs-Latn-BA", culture)>Bosanski</button>
            <button name="culture" value="en-us" type="submit" id="e1" class="btn btn-default" @selected("en-us", culture)>English</button>
        </div>
    </form>
    
    
     <!--
    <button name="culture" value="bs-Latn-BA" type="submit" id="b1" @selected("bs-Latn-BA", culture)>Bosanski</button>
        <button name="culture" value="en-us" type="submit" id="e1" @selected("en-us", culture)>English</button>
        
    <form>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                @Resursi.IzaberiteJezik <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="">Bosanski</a></li>
                <li><a href="">English</a></li>
            </ul>
        </div>
    </form>
   
    
    <form>
        <fieldset>

            <div class="control-group">
                <div class="controls">
                    <label for="bs">
                        <input name="culture" id="bs" value="bs-Latn-BA" type="radio" @selected("bs-Latn-BA", culture) /> Bosanski
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label for="en">
                        <input name="culture" id="en" value="en" type="radio" @selected("en", culture) /> English
                    </label>
                </div>
            </div>

        </fieldset>
    </form>
         -->
}

<p>
    @Html.ActionLink(@Resursi.KreirajNovi, "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazivTipaKorisnika)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nazivTipaKorisnika)
        </td>
        <td>
            @Html.ActionLink(@Resursi.Uredi, "Edit", new { id = item.idTipaKorisnika }) |
            @Html.ActionLink(@Resursi.Detalji, "Details", new { id = item.idTipaKorisnika }) |
            @Html.ActionLink(@Resursi.Obrisi, "Delete", new { id = item.idTipaKorisnika })
        </td>
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(function () {
            $("form").submit(function () {
                
            });
        });
    </script>
}

