@model eDrvenija.eDrvenija.Models.dokumenti

@{
    ViewBag.Title = @Resursi.Detalji;
}

<h2>@Resursi.Detalji</h2>

<fieldset>
    <legend>@Resursi.Dokumenti</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.brojPreuzimanja)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.brojPreuzimanja)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.oglasi.nazivOglasa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.oglasi.nazivOglasa)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@Resursi.Uredi, "Edit", new { id=Model.idDokumenta }) |
    @Html.ActionLink(@Resursi.NazadNaPocetnu, "Index")
</p>
