@model IEnumerable<eDrvenija.eDrvenija.Models.dokumenti>

@{
    ViewBag.Title = @Resursi.Index;
}

<h2>@Resursi.Index</h2>

<p>
    @Html.ActionLink(@Resursi.KreirajNovi, "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brojPreuzimanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oglasi.nazivOglasa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.brojPreuzimanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oglasi.nazivOglasa)
        </td>
        <td>
            @Html.ActionLink(@Resursi.Uredi, "Edit", new { id=item.idDokumenta }) |
            @Html.ActionLink(@Resursi.Detalji, "Details", new { id=item.idDokumenta }) |
            @Html.ActionLink(@Resursi.Obrisi, "Delete", new { id=item.idDokumenta })
        </td>
    </tr>
}

</table>
