@model eDrvenija.eDrvenija.Models.korisnici
@using Recaptcha.Web.Mvc;

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h2>Dodaj korisnika</h2></div>
                    <div class="panel-body">
                        <fieldset>
                            <legend>Podaci o korisniku:</legend>

                            <div class="form-group">
                                <div class="input-group col-md-6">
                                    <span style="width:120px" class="input-group-addon">Ime</span>
                                    <input class="form-control" type="text">
                                    @Html.ValidationMessageFor(model => model.imeKorisnika)

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-6">
                                    <span style="width:120px" class="input-group-addon">Prezime</span>
                                    <input class="form-control" type="text">
                                    @Html.ValidationMessageFor(model => model.prezimeKorisnika)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-6">
                                    <span style="width:120px" class="input-group-addon">E-Mail</span>
                                    <input class="form-control" type="email">
                                    @Html.ValidationMessageFor(model => model.eMailKorisnika)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-6">
                                    <span style="width:120px" class="input-group-addon">Telefon</span>
                                    <input class="form-control" type="tel">
                                    @Html.ValidationMessageFor(model => model.brojTelefonaKorisnika)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-6">
                                    <span style="width:120px" class="input-group-addon">Ocjena</span>
                                    <input class="form-control" type="number">
                                    <span class="input-group-addon">.00</span>
                                    @Html.ValidationMessageFor(model => model.ocjena)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-6">
                                    <span style="width:120px" class="input-group-addon">Korisničko ime</span>
                                    <input class="form-control" type="text">
                                    @Html.ValidationMessageFor(model => model.korisnickoImeKorisnika)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-6">
                                    <span style="width:120px" class="input-group-addon">Lozinka</span>
                                    <input class="form-control" type="password">
                                    @Html.ValidationMessageFor(model => model.lozinkaKorisnika)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-6">
                                    <span style="width:120px" class="input-group-addon">Tip korisnika</span>
                                    <input class="dropdown-menu" type="text">
                                    @Html.DropDownList("idTipaKorisnika", String.Empty)
                                    @Html.ValidationMessageFor(model => model.tipovikorisnika)
                                </div>
                            </div>


                            <div>
                                @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
                            </div>

                            <p>
                                <input type="submit" value="Create" />
                            </p>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
