@model eDrvenija.eDrvenija.Models.korisnici

@{
    ViewBag.Title = @Resursi.Obrisi;
}

<h2>@Resursi.Obrisi</h2>

<h3>@Resursi.ObrisiPitanje</h3>
<fieldset>
    <legend>@Resursi.Korisnici</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.imeKorisnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.imeKorisnika)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prezimeKorisnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prezimeKorisnika)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eMailKorisnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eMailKorisnika)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.brojTelefonaKorisnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.brojTelefonaKorisnika)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ocjena)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ocjena)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.korisnickoImeKorisnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.korisnickoImeKorisnika)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lozinkaKorisnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lozinkaKorisnika)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipovikorisnika.nazivTipaKorisnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipovikorisnika.nazivTipaKorisnika)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="@Resursi.Obrisi" /> |
        @Html.ActionLink(@Resursi.NazadNaPocetnu, "Index")
    </p>
}
