@model eDrvenija.eDrvenija.Models.korisnici

@{
    ViewBag.Title = @Resursi.Detalji;
}




<div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>@Resursi.Detalji</h2></div>
                <div class="panel-body">
                    <fieldset>
                        <legend>@Resursi.Korisnici</legend>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.imeKorisnika)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.imeKorisnika)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.prezimeKorisnika)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.prezimeKorisnika)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.eMailKorisnika)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.eMailKorisnika)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.brojTelefonaKorisnika)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.brojTelefonaKorisnika)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.ocjena)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.ocjena)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.korisnickoImeKorisnika)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.korisnickoImeKorisnika)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.lozinkaKorisnika)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.lozinkaKorisnika)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.tipovikorisnika.nazivTipaKorisnika)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.tipovikorisnika.nazivTipaKorisnika)
                        </div>
                    </fieldset>
                    <p>
                        @Html.ActionLink(@Resursi.Uredi, "Edit", new { id = Model.idKorisnika }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink(@Resursi.NazadNaPocetnu, "Index", null, new { @class = "btn btn-default btn-sm" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
