@model eDrvenija.eDrvenija.Models.korisnici

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>korisnici</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.imeKorisnika)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.imeKorisnika)
            @Html.ValidationMessageFor(model => model.imeKorisnika)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.prezimeKorisnika)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prezimeKorisnika)
            @Html.ValidationMessageFor(model => model.prezimeKorisnika)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eMailKorisnika)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eMailKorisnika)
            @Html.ValidationMessageFor(model => model.eMailKorisnika)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.brojTelefonaKorisnika)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.brojTelefonaKorisnika)
            @Html.ValidationMessageFor(model => model.brojTelefonaKorisnika)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ocjena)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ocjena)
            @Html.ValidationMessageFor(model => model.ocjena)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.korisnickoImeKorisnika)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.korisnickoImeKorisnika)
            @Html.ValidationMessageFor(model => model.korisnickoImeKorisnika)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lozinkaKorisnika)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lozinkaKorisnika)
            @Html.ValidationMessageFor(model => model.lozinkaKorisnika)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idTipaKorisnika, "tipovikorisnika")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idTipaKorisnika", String.Empty)
            @Html.ValidationMessageFor(model => model.idTipaKorisnika)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
