@model IEnumerable<eDrvenija.eDrvenija.Models.korisnici>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.imeKorisnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prezimeKorisnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eMailKorisnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brojTelefonaKorisnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ocjena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.korisnikAktivanOd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.korisnickoImeKorisnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lozinkaKorisnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aktivan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipovikorisnika.nazivTipaKorisnika)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.imeKorisnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prezimeKorisnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eMailKorisnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brojTelefonaKorisnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ocjena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.korisnikAktivanOd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.korisnickoImeKorisnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lozinkaKorisnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aktivan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipovikorisnika.nazivTipaKorisnika)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
