@model IEnumerable<eDrvenija.eDrvenija.Models.korisnici>

@{
    ViewBag.Title = @Resursi.Index;
}



<link rel="stylesheet" href="~/Content/Fonts/" />

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>@Resursi.Korisnici</h2></div>
                <div class="panel-body">
                    <table class="table table-striped  table-condensed">

                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.imeKorisnika)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.prezimeKorisnika)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.eMailKorisnika)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.brojTelefonaKorisnika)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ocjena)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.korisnickoImeKorisnika)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.lozinkaKorisnika)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tipovikorisnika.nazivTipaKorisnika)
                            </th>
                            <th>@Resursi.Akcije</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div>
                                        <span class="glyphicon glyphicon-user"></span>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.imeKorisnika)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.prezimeKorisnika)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.eMailKorisnika)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.brojTelefonaKorisnika)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ocjena)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.korisnickoImeKorisnika)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.lozinkaKorisnika)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tipovikorisnika.nazivTipaKorisnika)
                                </td>
                                <td>
                                    <div>
                                        @Html.ActionLink(@Resursi.Uredi, "Edit", new { id = item.idKorisnika }, new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink(@Resursi.Detalji, "Details", new { id = item.idKorisnika }, new { @class = "btn btn-info btn-sm" })
                                        @Html.ActionLink(@Resursi.Obrisi, "Delete", new { id = item.idKorisnika }, new { @class = "btn btn-danger btn-sm" })
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                    <div>
                        <p>
                            @Html.ActionLink(@Resursi.KreirajNovi, "Create", null, new { @class = "btn btn-success btn-lg" })

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
