@model eDrvenija.eDrvenija.Models.poruke

@{
    ViewBag.Title = @Resursi.Detalji;
}

<h2>@Resursi.Detalji</h2>

<fieldset>
    <legend>@Resursi.Poruke</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.naslovPoruke)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.naslovPoruke)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tekstPoruke)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tekstPoruke)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.aktivan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.aktivan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.korisnici.imeKorisnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.korisnici.imeKorisnika)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.korisnici1.imeKorisnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.korisnici1.imeKorisnika)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@Resursi.Uredi, "Edit", new { id = Model.idPoruke }) |
    @Html.ActionLink(@Resursi.NazadNaPocetnu, "Index")
</p>
