@model eDrvenija.eDrvenija.Models.kategorije

@{
    ViewBag.Title = @Resursi.Detalji;
}

<h2>@Resursi.Detalji</h2>

<fieldset>
    <legend>@Resursi.Kategorije</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nazivKategorije)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nazivKategorije)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@Resursi.Uredi, "Edit", new { id = Model.idKategorije }) |
    @Html.ActionLink(@Resursi.NazadNaPocetnu, "Index")
</p>
