@model eDrvenija.eDrvenija.Models.kategorije

@{
    ViewBag.Title = @Resursi.Uredi;
}

<h2>@Resursi.Uredi</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resursi.Kategorije</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nazivKategorije)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nazivKategorije)
            @Html.ValidationMessageFor(model => model.nazivKategorije)
        </div>

        <p>
            <input type="submit" value="@Resursi.Sacuvaj" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@Resursi.NazadNaPocetnu, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
