@model eDrvenija.eDrvenija.Models.tipovioglasa

@{
    ViewBag.Title = @Resursi.Obrisi;
}

<h2>@Resursi.Obrisi</h2>

<h3>@Resursi.ObrisiPitanje</h3>
<fieldset>
    <legend>@Resursi.TipoviOglasa</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nazivTipaOglasa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nazivTipaOglasa)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="@Resursi.Obrisi" /> |
        @Html.ActionLink(@Resursi.NazadNaPocetnu, "Index")
    </p>
}
