@model eDrvenija.eDrvenija.Models.tipovioglasa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tipovioglasa</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idTipaOglasa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idTipaOglasa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nazivTipaOglasa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nazivTipaOglasa)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
