@model eDrvenija.eDrvenija.Models.tipovioglasa

@{
    ViewBag.Title = @Resursi.Detalji;
}

<h2>@Resursi.Detalji</h2>

<fieldset>
    <legend>@Resursi.TipoviOglasa</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nazivTipaOglasa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nazivTipaOglasa)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@Resursi.Uredi, "Edit", new { id = Model.idTipaOglasa }) |
    @Html.ActionLink(@Resursi.NazadNaPocetnu, "Index")
</p>
